.main-drag-drop {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 100vh;
}

/*  */

.seeds-wrapper {
  flex: 3;
  /* height: 100%; */
}
.seeds-wrapper > h2 {
  background-color: #313131;
  color: #fff;
  text-align: center;
  font-size: 2rem;
}
.seeds-wrapper #seeds {
  /* height: 100%; */
  background-color: #313131;
}
.seeds-wrapper #seeds div {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 20px;
  cursor: pointer;
  background-color: #f3f3f3;
}

.plot-wrapper {
  flex: 8;
  height: 100%;
}
.plot-wrapper > h2 {
  background-color: #313131;
  color: #fff;
  text-align: center;
  font-size: 2.2rem;
}
.plot-wrapper #plot {
  height: 100%;
}

.multi-pot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

.plot-wrapper .multi-pot .board  {
  height: 500px;
  width: 100%;
  background-color: black;
  padding: unset 10px;
}

.plot-wrapper .multi-pot .board div {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;
  background-color: #f3f3f3;
  margin-bottom: 5px;
}
