.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(154, 205, 50, 0.5);
}

.login .login-box-title {
  margin-bottom: 50px;
    font-size: 4vw;
    font-weight: bold;
    color: yellowgreen;
    text-shadow: 0px 1px 1px #000;
    text-align: center;
}

.login .login__name {
  width: 40vw;
  padding: 6px;
  font-size: 2vw;
  margin-bottom: 5px;
  transition: 0.1s;
  border-radius: 5px;
  outline: none;
  border: none;
  background: none;
  border-left: 5px solid yellowgreen;
}

.login .login__confirm {
  width: 40vw;
  padding: 6px;
  font-size: 2vw;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: yellowgreen;
  color: #fff;
}

.login .login__confirm:hover {
  background-color: tomato;
  color: #fff;
}

@media screen and (max-width: 992px) {
  .login .login__name {
    width: 70vw;
    transition: 0.1s;
    font-size: 4vw;
  }
  .login .login__confirm {
    width: 70vw;
    transition: 0.1s;
    font-size: 4vw;
  }
}

@media screen and (max-width: 576px) {
  .login .login__name {
    font-size: 6vw;
    transition: 0.1s;
  }
  .login .login__confirm {
    font-size: 6vw;
    transition: 0.1s;
  }
  .login .login-box-title {
    font-size: 30px;
  }
}