.shop-section {
  position: fixed;
  top: 0;
  left: 0;
}

.shop-section .shop-section-wrap {
  display: flex;
  height: 80px;
}

.shop-section .shop-section-wrap * {
  display: inline-block;
}

.shop-section .shop-section-wrap .toggle-shop {
  border: none;
  outline: none;
  display: inline-block;
  padding: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: yellowgreen;
  background-color: #fff;
  cursor: pointer;
  height: 50px;
  border-radius: 0px 50% 50%;
  box-shadow: 5px 0px 1px 0px #ddd, 0px 5px 1px 0px yellowgreen;
  transition: all 0.3s ease;
}

.shop-section .shop-section-wrap .toggle-shop:hover {
  color: #fff;
  background-color: yellowgreen;
  box-shadow: 5px 0px 1px 0px rgba(221, 221, 221, 0), 0px 5px 1px 0px rgba(154, 205, 50, 0);
}

.shop-section .shop-section-wrap .seeds-section {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 10px;
  transform: translateY(-200px);
  transition: 1s;
}

.shop-section .shop-section-wrap .seeds-section.active {
  transition: 1s;
  transform: translateY(0);
}

.shop-section .shop-section-wrap .seeds-section .seed-product {
  background-color: rgba(230, 216, 216, 0.279);
  color: #fff;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
  margin-right: 10px;
  padding: 10px;
  border-radius:5px;
}

.shop-section .shop-section-wrap .seeds-section .seed-product .product-name {
  font-weight: bolder;
}

.shop-section .shop-section-wrap .seeds-section .seed-product .product-image {
  height: 60%;
  width: auto;
}

.shop-section .shop-section-wrap .seeds-section .seed-product .product-price {
  text-align: center;
}

/* .shop-section .shop-section-wrap .seeds-section .seed-product .product-price {}

.shop-section .shop-section-wrap .seeds-section .seed-product .product-price .price {}

.shop-section .shop-section-wrap .seeds-section .seed-product .product-price .price-unit {} */