.user-section {
  position: fixed;
  top: 0;
  right: 0;
  font-weight: 900;
  font-size: 15px;
  text-align: center;
  user-select: none;
}

.user-section .user-avatar {
  width: 100px;
  /* border-radius: 0 0 50% 50%; */
  border-radius: 50% 0 50% 50%;
}

.user-section .user-quick-info {
  position: absolute;
  left: 0;
  bottom: -25%;
  width: 100%;
}

.user-section .user-quick-info .user-money {
  background: yellowgreen;
  border-radius: 30px 0 0 30px;
  color: gold;
  text-shadow: 1px 1px 1px #000;
  margin-bottom: 5px;
}

.user-section .user-quick-info .user-level {
  background: yellowgreen;
  border-radius: 30px 0 0 30px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

@media screen and (max-width:992px) {
  .user-section {
    font-size: 15px;
  }
  .user-section .user-avatar {
    width: 80px;
  }
}